<div class="container">
  <h1>Stupid Coaching</h1>
  <blockquote class="blockquote">
    <p class="ml-3"><%= @question %></p>
    <footer class="blockquote-footer ml-3">You</footer>
  </blockquote>

  <blockquote class="blockquote">
  <p class="ml-3"><%= @answer %></p>
  <footer class="blockquote-footer ml-3">The Coach</footer>
  </blockquote>

  <p class="nav-link"><%= link_to "Ask another question", ask_path %></p>
</div>

